#_______________ Development folders and files _______________
.tmp/
dist/
node_modules/
src/**/*.js
src/**/*.js.map

#_______________ Log files & folders _______________
npm-debug.log*
logs/
.npm

#_______________  IDE _______________
.idea/**

#_______________  Windows & Mac _______________
Thumbs.db
ehthumbs.db
*.lnk
Desktop.ini